h1 {
    --h1-font-size: var(--font-size-xxxxxlarge);
    --h1-font-family: var(--font-family-component);
    &.bold {
        --h1-font-weight: bold;
    }

    &.semibold {
        --h1-font-weight: 600;
    }

    &.regular {
        --h1-font-weight: 500;
    }

    &.normal {
        --h1-font-weight: normal;
    }

    &.italic {
        --h1-font-style: italic;
    }

    &.center {
        --h1-text-align: center;
    }
}

h2 {
    --h2-font-size: var(--font-size-xxxxlarge);
    --h2-font-family: var(--font-family-component);
    &.bold {
        --h2-font-weight: bold;
    }

    &.semibold {
        --h2-font-weight: 600;
    }

    &.regular {
        --h2-font-weight: 500;
    }

    &.normal {
        --h2-font-weight: normal;
    }

    &.italic {
        --h2-font-style: italic;
    }
    &.center {
        --h2-text-align: center;
    }
}

h3 {
    --h3-font-size: var(--font-size-xxxlarge);
    --h3-font-family: var(--font-family-component);
    &.bold {
        --h3-font-weight: bold;
    }

    &.semibold {
        --h3-font-weight: 600;
    }

    &.regular {
        --h3-font-weight: 500;
    }

    &.normal {
        --h3-font-weight: normal;
    }

    &.italic {
        --h3-font-style: italic;
    }
    &.center {
        --h3-text-align: center;
    }
}

h4 {
    --h4-font-size: var(--font-size-xxlarge);
    --h4-font-family: var(--font-family-component);
    &.bold {
        --h4-font-weight: bold;
    }

    &.semibold {
        --h4-font-weight: 600;
    }

    &.regular {
        --h4-font-weight: 500;
    }

    &.normal {
        --h4-font-weight: normal;
    }

    &.italic {
        --h4-font-style: italic;
    }
    &.center {
        --h4-text-align: center;
    }
}

h5 {
    --h5-font-size: var(--font-size-xlarge);
    --h5-font-family: var(--font-family-component);
    &.bold {
        --h5-font-weight: bold;
    }

    &.semibold {
        --h5-font-weight: 600;
    }

    &.regular {
        --h5-font-weight: 500;
    }

    &.normal {
        --h5-font-weight: normal;
    }

    &.italic {
        --h5-font-style: italic;
    }
    &.center {
        --h5-text-align: center;
    }
}

h6 {
    --h6-font-size: var(--font-size-large);
    --h6-font-family: var(--font-family-component);
    &.bold {
        --h6-font-weight: bold;
    }

    &.semibold {
        --h6-font-weight: 600;
    }

    &.regular {
        --h6-font-weight: 500;
    }

    &.normal {
        --h6-font-weight: normal;
    }

    &.italic {
        --h6-font-style: italic;
    }
    &.center {
        --h6-text-align: center;
    }
}
