hgroup {
    --hgroup-flex-direction: column;
    --hgroup-align-items: flex-start;
    --hgroup-gap: var(--gap-medium);

    &.inline {
        --hgroup-flex-direction: row;
    }

    &.center {
        --hgroup-align-items: center;
    }
}