input[type='text'], input[type='password'], input[type='email'], input[type='number'], input[type='search'], textarea, select {
    --input-width: var(--width-component);
    --input-padding-x: var(--space-4);
    --input-border-radius: var(--rounded-component);
    --input-font-weight: var(--font-weight-regular);
    --input-font-family: var(--font-family-component);
    --input-letter-spacing: var(--letter-spacing-normal);
    --input-text-align: left;
    --input-opacity: 1;

    --input-disabled-bg-color: var(--disable-background-color);
    --input-disabled-text-color: var(--disable-foreground-color);
    --input-disabled-border-color: var(--disable-border-color);
    --input-disabled-opacity: var(--disable-opacity-component);

    &.primary {
        --input-bg-color: transparent;
        --input-text-color: var(--foreground-color);
        --input-border-color: var(--border-strong-color);

        --input-hover-bg-color: oklch(from var(--white) l c h / 0.02);
        --input-hover-text-color: var(--foreground-color);
        --input-hover-border-color: oklch(from var(--white) l c h / 0.3);

        --input-focus-bg-color: oklch(from var(--white) l c h / 0.03);

        --input-border-style: solid;
        --input-border-width: 1px;
    }

    &.filled {
        --input-bg-color: var(--surface-1);
        --input-text-color: var(--foreground-color);
        --input-border-color: transparent;

        --input-hover-bg-color: var(--surface-2);
        --input-hover-text-color: var(--foreground-color);
        --input-hover-border-color: var(--border-color);

        --input-focus-bg-color: var(--surface-2);

        --input-border-style: solid;
        --input-border-width: 1px;
    }

    &.small {
        --input-height: var(--height-small);
        --input-font-size: var(--font-size-small);
    }

    &.medium {
        --input-height: var(--height-medium);
        --input-font-size: var(--font-size-medium);
    }

    &.large {
        --input-height: var(--height-large);
        --input-font-size: var(--font-size-large);
    }

    &.full-width {
        --input-width: 100%;
    }
}
