label {
    --label-font-size: var(--font-size-small);
    --label-font-weight: var(--font-weight-component);
    --label-font-family: var(--font-family-component);

    --label-letter-spacing: 0px;
    --label-text-transform: none;
    --label-text-align: start;

    &.required::after {
        content: ' *';
        color: var(--destructive-color);
    }

    &.primary {
        --label-bg-color: var(--primary-color);
        --label-text-color: var(--primary-foreground-color);
        --label-border-color: var(--primary-color);
    }

    &.secondary {
        --label-bg-color: var(--secondary-color);
        --label-text-color: var(--secondary-foreground-color);
        --label-border-color: var(--secondary-color);
    }

    &.tertiary {
        --label-bg-color: var(--tertiary-color);
        --label-text-color: var(--tertiary-foreground-color);
        --label-border-color: var(--tertiary-color);
    }
}