VITE_AUTH_URL=http://auth.localhost
VITE_FORUM_URL=http://forum.localhost
VITE_TRAINING_URL=http://training.localhost
VITE_UPCYCLE_URL=http://upcycle.localhost
VITE_COOKIE_DOMAIN=localhost
VITE_COOKIE_PATH=/
