button {
    height: var(--button-height);
    width: var(--button-width);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: var(--button-gap);

    padding: var(--button-padding-top) var(--button-padding-right) var(--button-padding-bottom) var(--button-padding-left);

    border-radius: var(--button-border-radius);

    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-color: var(--button-border-color);

    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    font-family: var(--button-font-family);

    letter-spacing: var(--button-letter-spacing);
    text-transform: var(--button-text-transform);
    text-align: var(--button-text-align);

    border-width: var(--button-border-width);
    border-style: var(--button-border-style);

    opacity: var(--button-opacity);

    &:disabled {
        background-color: var(--button-disabled-bg-color);
        color: var(--button-disabled-text-color);
        opacity: var(--button-disabled-opacity);
        box-shadow: var(--button-disabled-box-shadow);
        border-color: var(--button-disabled-border-color);
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        background-color: var(--button-hover-bg-color);
        color: var(--button-hover-text-color);
        border-color: var(--button-hover-border-color);
    }

    &:not(:disabled):focus {
        outline-color: var(--button-focus-outline-color);
        outline-width: var(--button-focus-outline-width);
        outline-style: var(--button-focus-outline-style);
        outline-offset: var(--button-focus-outline-offset);
        box-shadow: var(--button-focus-box-shadow);
    }

    &:not(:disabled):active {
        background-color: var(--button-active-bg-color);
        color: var(--button-active-text-color);
        outline-color: var(--button-active-outline-color);
        /* translate: 0 2px; */
    }

    transition:
            color var(--button-color-transition-duration) var(--button-color-transition-timing-function),
            var(--button-box-shadow-transition-timing-function),
            outline var(--button-outline-transition-duration)
            var(--button-outline-transition-timing-function);
    cursor: pointer;
}