header {
    width: 100%;
    max-width: var(--container-max-width);
    margin-inline: auto;
    margin-top: var(--header-margin-top);
    padding-inline: var(--container-padding-x);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: var(--header-bg-color);

    @media (min-width: 1280px) {
        padding-inline: var(--container-padding-x-lg);
    }
}
